#App {
  text-align: center;
  background-color: #09a5d9;
  padding: 20px;
  color: white;
}

main {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.disabled {
  outline: none;
}
form {
  width:70vw;
  justify-self: center;
  border: 2px solid grey;
  padding: 1.5rem;
  padding-bottom: 2.5rem;

  
}
form label {
  width: 70%;
}
form label>input { 
  margin: 1rem 0 .5rem 1.5rem;
}
form>input {
  width: 50%;
  margin-top: 2rem;
}
[aria-hidden=true] { pointer-events: none;}


